@model ClientViewModel
@{
	ViewData["Title"] = "Data Base of Users";
}

<head>
	<link href="~/css/usersDBStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
	<h1 class="headline">Користувачі HelpBoardUA</h1>
	<div class="filters">
		<div class="search">
			<input type="text" name="q" placeholder="Пошук" class="search-input">
			<button type="submit" class="search-button">
				<i class="bi bi-search"></i>
			</button>
		</div>
		<div class="chooseState">
			<select>
				<option value="instruction" selected hidden>Оберіть статус</option>
				<option value="anybody">Будь-який</option>
				<option value="missing">Відсутній</option>
				<option value="VPO">ВПО</option>
			</select>
		</div>
		<div class="chooseSex">
			<select>
				<option value="instruction" selected hidden>Оберіть стать</option>
				<option value="man">Чоловіча</option>
				<option value="woman">Жіноча</option>
			</select>
		</div>
		<div class="confirmButton">
			<button class="confirm">Підтвердити</button>
		</div>
	</div>
	<div class="blockDB">
		<div class="headlinesDB">
			<div>ПІБ</div>
			<div>Телефон</div>
			<div>Стать</div>
			<div>Дата<br />народження</div>
			<div>Email</div>
			<div>Статус</div>
		</div>

		@foreach (var client in Model.ClientsList)
		{
			<div class="users">
				<div class="userBox">
					<div>@client.LastName @client.FirstName @client.Patronymic</div>
					<div>@client.PhoneNumber</div>
					<div>@client.Sex</div>
					<div>@client.Birth</div>
					<div>@client.Email</div>
					<div>
						@if (@client.VPO_Status == 0)
						{
							<p>Не переселенець</p>
						}
						@if (@client.VPO_Status == 1)
						{
							<p>Довідка в обробці</p>
						}
						@if (@client.VPO_Status == 2)
						{
							<p>ВПО</p>
						}
					</div>
				</div>

			</div>
		}
		
	</div>
</div>