@using HelpBoardUA.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	string certificateStatus = "-";
	if(ViewBag.VPO_Status == 0)
	{
		certificateStatus = "Довідку не надано";
	}
	if (ViewBag.VPO_Status == 1)
	{
		certificateStatus = "В обробці";
	}
	if (ViewBag.VPO_Status == 2)
	{
		certificateStatus = "Схвалено";
	}
	
}
@{
	ViewData["Title"] = "User Profile";
}

<head>
	<link href="~/css/userProfileStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="grid-container">
		<h1>Особисті дані:</h1>
		<div class="personalData">
			<div class="info-wrapper">
			<p class="headlines">ПІБ:
					<span class="data">@ViewBag.LastName @ViewBag.FirstName @ViewBag.Patronymic </span>
				</p>
			<p class="headlines">Стать:
					<span class="data">@ViewBag.Sex</span>
			</p>
			<p class="headlines">Дата народження:
					<span class="data">@ViewBag.Birth</span>
			</p>
			<p class="headlines">Ел.пошта:
					<span class="data">@ViewBag.Email</span>
			</p>
			<p class="headlines">Телефон:
					<span class="data">@ViewBag.Phone</span>
			</p>
			</div>
			
		</div>
		<div class="button1">
			<div class="editButton">
				<form action="~/UserProfile/EditUserProfile" method="post">
					<button type="submit" class="edit">Редагувати</button>
				</form>
			</div>
		</div>
		
		<h2>Статус ВПО</h2>
		<div class="statusVPO">
			<div class="info-wrapper2">
				<p class="headlines">
					Статус:
					<span class="data">@(certificateStatus)</span>
				</p>
				
			</div>
		</div>
		<div class="button2">
				<p class="description">
					Для отримання статусу ВПО натисніть кнопку нижче
				</p>
				<div class="confirmButton">
				<form action="~/DownloadVPOCertificate/Index" method="post">
						<button type="submit" class="confirm">Отримати статус ВПО</button>
				</form>
				</div>
		</div>
	</div>
</div>

